nav{
    width: 100%;
    height: 60px;
    background-color: #52796f;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(202, 210, 197, 0.5);

    
    background-size: cover;
}

p{
    color: #222b31;
}

a{
    color: inherit;
    text-decoration: none;
}

.c_grid{
    flex-direction: column;
    align-items: center;

}

nav{
    display: flex;
    align-items: center;
}
ul{
    margin: 0;
    margin-left: 25px;
    list-style-type: none;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 100px;
    display: flex;
    justify-content:space-between;

}
.icons  img{
    height: 25px;
    filter: invert(64%) sepia(15%) saturate(509%) hue-rotate(81deg) brightness(97%) contrast(87%);
    opacity: 0.8;
    cursor:  pointer;
}

li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222b31;
    cursor: pointer;
}

header{
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    

}
.headerImage{
    width: 100%;
    height: calc(100vh - 100px);
    filter: brightness(50%);
    object-fit: cover;
    box-sizing: border-box;
}

.headerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;



}

h1{

    color: white;

    font-family:   helvetica; 
    font-size: 4em;
    opacity: 0;

    animation: slideIn 0.6s ease-out 0.4s  forwards;
}

.container{
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;

    
}

.container p{
    margin-left: 10px;
}

.viewHeight{
    height: 90vh;

}

.c_split > div{
    width: 50%;
    padding: 0 10px;
}


.c_Image_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c_Image{
    width: 80%;
    transition: all 0.15s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.c_Image:hover{
    transform: scale(1.2);
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    color: #2f3e46;
}

p{
    font-family: sans-serif;
    line-height: 1.5em;
}

.c_Text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.imageGrid{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.c_grid{
    display: flex;
    justify-content: center;
}

.imageGrid > *{
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-in-out;
    cursor: pointer;


    object-fit: cover;
}

.imageGrid > *:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.imgBig{
    grid-row: span 2;
    grid-column: span 2;
}

.imgTall{
    grid-row: span 2;
}

.c_cjenik{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 90px 0;
}


table{
    border-spacing: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #84a98c;
    font-size: 0.9em;
    transition: all 0.2s ease-in-out;
}

table:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th{
    font-size: 1.15em;
}

.sadrzaj{
    text-align: center;
    padding: 20px 50px;

}

.s_item{
    display: flex;
    gap: 5px;
    margin: 50px 20px;
    background-color: #84a98c;
    box-sizing: border-box;
    text-align: left;
    transition: all 0.2s ease-in-out;
}

.s_item:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.s_item>div{
    width: 50%;
}



.s_img{
    width: 80%;
}

.fEnd{
    display: flex;
    justify-content: flex-end;
}

.fStart{
    display: flex;
    justify-content: flex-start;
}

.s_text{
    padding: 10px 20px;
}

.s_text p{
    font-size: 0.9em;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2f3e46;
    font-size: 1.3em;
}

.kontakt p{
    margin: 0 10px;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 80px;
    background-color: #52796f;
    color: #222b31;
}

@keyframes slideIn {
    from{
        transform: translateY(-60px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}